{% extends "base.html" %}
{% block page_title %}ویرایش مکان{% endblock %}

{% block content %}

<h2>ویرایش مکان {{ location.full_path }} ✏️</h2>

<a href="{{ url_for('list_locations') }}">← بازگشت</a>

<form method="POST">

{{ form.hidden_tag() }}

<div>
{{ form.building.label }}
{{ form.building(class="form-control") }}
</div>

<div>
{{ form.floor.label }}
{{ form.floor(class="form-control") }}
</div>

<div>
{{ form.unit.label }}
{{ form.unit(class="form-control") }}
</div>

<div>
{{ form.description.label }}
{{ form.description(class="form-control") }}
</div>

<br>

<button type="submit" class="btn btn-success">ذخیره</button>

</form>

{% endblock %}
