{% extends "base.html" %}
{% block page_title %}
ویرایش پروفایل {{ profile.name }}
{% endblock %}

{% block content %}

<h2>
ویرایش پروفایل {{ profile.name }} 🔑
</h2>

<a href="{{ url_for('list_profiles') }}">← بازگشت</a>

<form method="POST">

{{ form.hidden_tag() }}

<div>
{{ form.name.label }}
{{ form.name(class="form-control") }}
</div>

<div>
{{ form.username.label }}
{{ form.username(class="form-control") }}
</div>

<div>
{{ form.password.label }}
{{ form.password(class="form-control") }}
</div>

<div>
{{ form.secret.label }}
{{ form.secret(class="form-control") }}
</div>

<div>
{{ form.description.label }}
{{ form.description(class="form-control") }}
</div>

<br>

<button type="submit" class="btn btn-success">
Save
</button>

</form>

{% endblock %}
