{% extends "base.html" %}
{% block page_title %}Logs{% endblock %}
{% block content %}

<h2></h2>

<form method="get">

    <label>Switch</label>
    <select name="switch">
        <option value="">All</option>
        {% for s in switch_list %}
        <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select>

    <label>Level</label>
    <select name="level">
        <option value="">All</option>
        {% for lv in levels %}
        <option value="{{ lv }}">{{ lv }}</option>
        {% endfor %}
    </select>

    <label>From</label>
    <input type="date" name="from">

    <label>To</label>
    <input type="date" name="to">

    <label>Per Page</label>
    <select name="per_page">
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
    </select>

    <button type="submit">Filter</button>

</form>


<div>
    <a href="{{ url_for('logs_export_excel') }}">Export Excel</a> |
    <a href="{{ url_for('logs_export_pdf') }}">Export PDF</a>
</div>

<br>

<table border="1" width="100%">
    <tr>
	<th>No</th>
        <th style="width: 160px;">Time</th>
        <th>Level</th>
        <th>Switch</th>
        <th>Status</th>
        <th>Message</th>
        <!-- <th>File</th> -->
    </tr>

    {% for l in logs %}
    <tr>
	<td>{{ loop.index }}</td>
        <td style="min-width: 170px;">{{ l.time }}</td>
        <td>{{ l.level }}</td>
        <td>{{ l.switch_name }}</td>
        <td>{{ l.status }}</td>
        <td>{{ l.message }}</td>
    
        {#
<td>
    {% if l.file_path %}
        <a href="{{ url_for('backup.download_backup', rel_path=l.file_path) }}">Download</a>
    {% else %}
        -
    {% endif %}
</td>
#}

        
    </tr>
    {% endfor %}
</table>

<br>

<div>
    {% if pagination.has_prev %}
    <a href="?page={{ pagination.prev_num }}&per_page={{ pagination.per_page }}">Prev</a>
    {% endif %}

    Page {{ pagination.page }} of {{ pagination.pages }}

    {% if pagination.has_next %}
    <a href="?page={{ pagination.next_num }}&per_page={{ pagination.per_page }}">Next</a>
    {% endif %}
</div>

{% endblock %}
