{% extends "base.html" %}
{% block page_title %}New Location {% endblock %}

{% block content %}

<h2>New Location  🏢</h2>

<a href="{{ url_for('list_locations') }}">← Back</a>

<form method="POST">

{{ form.hidden_tag() }}

<div>
{{ form.building.label }}
{{ form.building(class="form-control") }}
</div>

<div>
{{ form.floor.label }}
{{ form.floor(class="form-control") }}
</div>

<div>
{{ form.unit.label }}
{{ form.unit(class="form-control") }}
</div>

<div>
{{ form.description.label }}
{{ form.description(class="form-control") }}
</div>

<br>

<button type="submit" class="btn btn-primary">Save</button>

</form>

{% endblock %}
