{% extends "base.html" %}
{% block title %}New Profile | Switch Management{% endblock %}

{% block content %}

<h2>Add New Credential Profile</h2>

<form method="POST">

{{ form.hidden_tag() }}

<p>{{ form.name.label }}<br>{{ form.name(size=32) }}</p>

<p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>

<p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>

<p>{{ form.secret.label }}<br>{{ form.secret(size=32) }}</p>

<p>{{ form.description.label }}<br>{{ form.description(rows=3, cols=32) }}</p>

<p><button type="submit" class="btn btn-primary">Create</button></p>

</form>

{% endblock %}
