{% extends "base.html" %}
{% block page_title %}Switches{% endblock %}

{% block content %}

<h2>Switches</h2>

<button>
    <a href="{{ url_for('new_switch') }}" class="btn btn-primary">➕ Add Switch</a>
</button>

<table border="1" cellpadding="6" style="margin-top: 1%; margin-left: 5%;">

<tr>
    <th>No</th>
    <th>Name</th>
    <th>IP</th>
    <th>Device</th>
    <th>Profile</th>
    <th>Location</th>
    <th>Job</th>
    <th>Create Job</th>
    <th>Actions</th>
</tr>

{% for sw in switches %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ sw.name }}</td>
    <td>{{ sw.ip }}</td>
    <td>{{ sw.device_type }}</td>
    <td>{{ sw.profile.name if sw.profile else '—' }}</td>
    <td>{{ sw.location }}</td>
    <td>
        {% if sw.jobs and sw.jobs|length > 0 %}
            ✅
        {% else %}
            ❌
        {% endif %}
    </td>
    <td>
    <a href="{{ url_for('new_job', switch_id=sw.id) }}"
       style="background-color:#1b7ced; color:white; padding:1px 5px; border-radius:4px; text-decoration:none;">
        ➕ Create
    </a>
</td>
    <td>

        <button style="background-color: rgba(255, 255, 0, 0.644); padding: 2px 10px 2px 10px;">
            <a href="{{ url_for('edit_switch', id=sw.id) }}">Edit</a>
        </button>

        <form method="POST"
              action="{{ url_for('delete_switch', id=sw.id) }}"
              style="display:inline">
            <button style="background: red; font-weight: 700; padding: 2px 10px 2px 10px;" type="submit">
                Delete
            </button>
        </form>

        <button style="background-color: #00ff1c4d; padding: 2px 10px 2px 10px;">
    <a href="{{ url_for('backup.list_backups', switch_id=sw.id) }}">Backups</a>
        </button>

    </td>
</tr>

{% else %}
<tr>
    <td colspan="7">No switches found.</td>
</tr>
{% endfor %}

</table>

{% endblock %}
