{% extends "base.html" %}
{% block page_title %}
{% if switch %}ویرایش سوییچ {{ switch.name }}{% else %}سوییچ جدید{% endif %}
{% endblock %}

{% block content %}

<h2>
{% if switch %}
ویرایش سوییچ {{ switch.name }} ⚙️
{% else %}
سوییچ جدید 🔌
{% endif %}
</h2>

<a href="{{ url_for('list_switches') }}">← بازگشت</a>

<form method="POST">

{{ form.hidden_tag() }}

<div>
{{ form.name.label }}
{{ form.name(class="form-control") }}
</div>

<div>
{{ form.ip.label }}
{{ form.ip(class="form-control") }}
</div>

<div>
{{ form.device_type.label }}
{{ form.device_type(class="form-select") }}
</div>

<div>
{{ form.profile_id.label }}
{{ form.profile_id(class="form-select") }}
</div>

<div>
{{ form.location.label }}
{{ form.location(class="form-control") }}
</div>

<div>
{{ form.groups.label }}
{{ form.groups(class="form-control") }}
</div>

<div>
{{ form.status.label }}
{{ form.status(class="form-select") }}
</div>

<div>
{{ form.description.label }}
{{ form.description(class="form-control") }}
</div>

<br>

<button type="submit" class="btn btn-success">
Save
</button>

</form>

{% endblock %}
